CompileFlags:
  Add:
    - "-std=c++17"
    # Forcing GCC 11 paths globally to avoid the "Ghost GCC 12" issue
    - "-isystem"
    - "/usr/include/c++/11"
    - "-isystem"
    - "/usr/include/x86_64-linux-gnu/c++/11"
    - "-isystem"
    - "/usr/lib/gcc/x86_64-linux-gnu/11/include"
    - "-isystem"
    - "/usr/local/include"
    - "-isystem"
    - "/usr/include"
  Remove: [-m64]

---

# This block applies ONLY to CUDA files
# If:
#   PathMatch: [.*\.cu, .*\.cuh]
# CompileFlags:
#   Add:
#     - "-xcuda"
#     # - "-nocudainc"
#     # - "-nocudalib"
#     - "--cuda-path=/usr" 
#     - "--cuda-gpu-arch=sm_75"
#     - "-D__CUDA_ARCH__=750"
#     - "-D__CUDACC__"
#     # This specifically fixes the built-in variable definitions
#     - "-include"
#     - "cuda_runtime.h"
#     - "-include"
#     - "device_launch_parameters.h"

# ---

# This block applies ONLY to standard C++ files
If:
  PathMatch: [.*\.cpp, .*\.h]
CompileFlags:
  Add:
    - "-xc++"